<%- include("header", {title: title}); %>

<h1>Edit product details</h1>

<p>This is details for product <%= Produkt %>.</p>

<pre><%#= JSON.stringify(res, null, 4) %></pre>

<% res = res[0] %>
<form class="label-left" method="post" action="/eshop/edit">
    <fieldset>
        <legend>Edit product</legend>

        <label for="id">id</label>
        <input id="id" type="number" name="id" readonly value="<%= res.produktID %>"><br>

        <label for="name">name</label>
        <input id="name" type="text" name="name" value="<%= res.namn %>"><br>

        <label for="price">price</label>
        <input id="price" type="number" name="price" value="<%= res.pris %>"><br>

        <label for="description">description</label>
        <input id="description" type="text" name="description" value="<%= res.beskrivning %>"><br>

        <input type="submit" name="doit" value="Edit">
    </fieldset>
</form>

<%- include("footer"); %>
